@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto&display=swap');


body {
    background-color: #fcfbfb;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}


header {
    background-color: #ff9f1c;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 120px;
    margin: 5px;
}

nav a:hover {
    background-color: #55a630;
    color: #ffffff;
}

nav a {
    font-family:'Arvo', serif;
    text-align: center;
    color: #e5e5e5;
    font-size: 27px;
    text-decoration: none;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}



#hero-img {
    width: 100%;
}

#hero-msg {
    text-align: center;
}

.home-title {
    color: #78e048;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg p {
    color: #ffffff;
}



#introduction h1 {
    color: #55a630;
    text-align: center;
    font-family:'Arvo', serif;
    font-size: 2.2em;
    margin-top: 100px;
    margin-bottom: 50px;
}

#introduction p {
    color: #897463;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 130px;
}



.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.vegan-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.vegetarian-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.gluten-free-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.home-grid p {
    grid-column: 1/11;
    grid-row: 4/5;
    color: #897463;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.one {
    grid-column: 2/5;
    grid-row: 6/7;
}

h2 {
    color: #55a630;
    margin-top: 20px;
    text-align: center;
    font-family:'Arvo', serif;
}

.join {
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg {
    grid-column: 5/7;
    grid-row: 6/7;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 12px;
    font-family:'Arvo', serif;
}

.join:hover {
    background-color: #55a630;
    color: #e5e5e5;
}


.join {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.join a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: #FFFFFF;
}

.join a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.join:hover a {
    padding-right: 25px;
}   

.join:hover a:after {
    opacity: 1;
    right: 0;
}


.two {
    grid-column: 7/10;
    grid-row: 6/7;
}



footer {
    background-color: #e5e5e5;
    color:#3a6a23;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a:hover {
    color: #fca311;
}

footer a {
    color: #3a6a23;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}





.card-img, .one, .two, .recipe-grid img {
    border: 7px solid #fec601;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover, .recipe-grid img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img, .recipe-grid img {
    box-sizing: border-box;
}




.ingredients h3, .steps h3 {
    color: #55a630;
    font-family:'Arvo', serif;
}

.ingredients p, .steps p {
    color: #53483f;
}

.suggestion {
    background: #6f7364;
    color: #ffffff;
    padding: 40px;
}



.recipe-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.macaroni {
    grid-column: 1/11;
    grid-row: 2/6;
}

.oriental {
    grid-column: 1/11;
    grid-row: 7/11;
}

.turkey {
    grid-column: 1/11;
    grid-row: 12/16;
}

.veals {
    grid-column: 1/11;
    grid-row: 17/21;
}

.tortilla {
    grid-column: 1/11;
    grid-row: 22/26;
}



.macaroni {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.macaroni h2, p {
    grid-column: 1/21;
}

.p1 {
    grid-column: 2/7;
    grid-row: 8/9;
    margin-top: 30px;
    margin-bottom: 45px;
}

.macaroni h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.macaroni-img {
    grid-column: 2/13;
    grid-row: 2/8;
    width: 100%;
}

.ingredients {
    grid-column: 15/20;
    grid-row: 4/7;
}

.steps {
    grid-column: 2/14;
    grid-row: 9/15;
    margin-bottom: 90px;
}

.macaroni .suggestion {
    grid-column: 16/20;
    grid-row: 10/12;
}



.oriental {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.oriental h2, p {
    grid-column: 1/21;
}

.p1 {
    grid-column: 2/7;
    grid-row: 8/9;
    margin-top: 30px;
    margin-bottom: 45px;
}

.oriental h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.orienta-img {
    grid-column: 2/13;
    grid-row: 2/8;
    width: 100%;
}

.ingredients {
    grid-column: 15/20;
    grid-row: 4/7;
}

.steps {
    grid-column: 2/14;
    grid-row: 9/15;
    margin-bottom: 90px;
}

.oriental .suggestion {
    grid-column: 16/20;
    grid-row: 8/13;
}



.oriental {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.oriental h2, p {
    grid-column: 1/21;
}

.p1 {
    grid-column: 2/7;
    grid-row: 8/9;
    margin-top: 30px;
    margin-bottom: 45px;
}

.oriental h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.orienta-img {
    grid-column: 2/13;
    grid-row: 2/8;
    width: 100%;
}

.ingredients {
    grid-column: 15/20;
    grid-row: 4/7;
}

.steps {
    grid-column: 2/14;
    grid-row: 9/15;
    margin-bottom: 90px;
}

.oriental .suggestion {
    grid-column: 16/20;
    grid-row: 8/13;
}



.turkey {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.turkey h2, p {
    grid-column: 1/21;
}

.p1 {
    grid-column: 2/7;
    grid-row: 8/9;
    margin-top: 30px;
    margin-bottom: 45px;
}

.turkey h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.turkey-img {
    grid-column: 2/13;
    grid-row: 2/8;
    width: 100%;
}

.ingredients {
    grid-column: 15/20;
    grid-row: 4/7;
}

.steps {
    grid-column: 2/14;
    grid-row: 9/15;
    margin-bottom: 90px;
}

.turkey .suggestion {
    grid-column: 16/20;
    grid-row: 8/13;
}



.veals {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.veals h2, p {
    grid-column: 1/21;
}

.p1 {
    grid-column: 2/7;
    grid-row: 8/9;
    margin-top: 30px;
    margin-bottom: 45px;
}

.veals h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.veals-img {
    grid-column: 2/13;
    grid-row: 2/8;
    width: 100%;
}

.ingredients {
    grid-column: 15/20;
    grid-row: 4/7;
}

.steps {
    grid-column: 2/14;
    grid-row: 9/15;
    margin-bottom: 90px;
}

.veals .suggestion {
    grid-column: 16/20;
    grid-row: 8/13;
}



.tortilla {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.tortilla h2, p {
    grid-column: 1/21;
}

.p1 {
    grid-column: 2/7;
    grid-row: 8/9;
    margin-top: 30px;
    margin-bottom: 45px;
}

.tortilla h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.tortilla-img {
    grid-column: 2/13;
    grid-row: 2/8;
    width: 100%;
}

.ingredients {
    grid-column: 15/20;
    grid-row: 4/7;
}

.steps {
    grid-column: 2/14;
    grid-row: 9/15;
    margin-bottom: 90px;
}

.tortilla .suggestion {
    grid-column: 16/20;
    grid-row: 8/13;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}