#content {
    max-width: 1600px;
    margin: 0 auto;
}


#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}


#background {
    background-color:#e5e5e5;
    height: 725px;
}


body {
    background-color: #fcfbfb; 
}
header {
    background-color:#14213D;
}
.msg {
    background-color:#fca311;
}


h4 {
    color: #14213D;
}
.home-title {
    color: #14213D;
}
.msg h2 {
    color: #14213D;
}
.msg p {
    color: #14213D;
}
footer a:hover {
    color: #fca311;
}


nav a:hover {
    background-color: #fca311;
    color: #14213D;
}
.book:hover, .join:hover {
    background-color: #14213D;
    color: #e5e5e5;
}
footer {
    background-color: #e5e5e5;
    color: #14213D;
}


nav a {
    text-align: center;
    color: #e5e5e5;
    text-decoration: none;
}
.book, .join {
    background-color: #7785ac;
    color: #14213D;
    text-decoration: none;
}
footer a {
    color: #14213D;
    text-decoration: none;
}


.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}


footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}